.Card{
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px 0px grey;
    min-height: 300px;
}
.ProductImage{
    max-width: 50%;
}
.ProductPrice{
    font-family: sans-serif;
    padding: 5px;
    font-size: x-large;
}
.ProductSize{
    font-family: sans-serif;
    padding: 5px;
    font-size: x-large;
}
.ProductTitle{
    font-family: sans-serif;
    padding: 15px;
    font-size: x-large;
}
.Price{
    font-size: large;
}
.ProductCard{
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 40px;
}
  
.pagination button {
    margin: 0 5px;
    padding: 8px;
    width: 40px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: large;
}

.pagination button:hover {
    background-color: #b8b8b8;
    color: black;
    border-color: #e2e2e2;
}
  
  
.pagination button.active {
    background-color: #ae7736;
    color: #fff;
    border-color: #ae7736;
}

.total-products{
    font-size:larger;
    padding: 30px 20px;
}

.Grid2.selected {
    border: 4px solid #ae7736; /* Add your selected grid styling here */
  }
  
  .Grid3.selected {
    border: 4px solid #ae7736; /* Add your selected grid styling here */
  }
  
  .Grid4.selected {
    border: 4px solid #ae7736; /* Add your selected grid styling here */
  }
.Grid2{
    width: 70px;
}
.Grid3{
    width: 69px;
}
.Grid4{
    width: 83px;
    margin-top: -6px;
    position: absolute;
    
}
.grid-icons{
    text-align: center;
    place-self: center;
    padding-top: 40px;
}
.grid-icons > img{
    cursor: pointer;
    margin-left: 40px;
    margin-right: 40px;
}

.ProductsList {
    display: grid;
    gap: 20px;
    padding: 0 10px; /* Adjust the padding for smaller screens */
    justify-content: center;
    grid-template-columns: var(--grid-columns, repeat(auto-fill, minmax(300px, 1fr)));
}
